.bgNavContainer {
  background: conic-gradient(
    #cfd7f3ef 0deg 90deg,
    #113f67 90deg 270deg,
    #cfd7f3ef 270deg 360deg
  );
  z-index: 0;
 
}

.bgSubNav {
  padding: 1px;
  background-color: #113f679c;
}

.createButton {
  border-radius: 50px;
  margin: 2px;
 justify-content: center;
  height: 35px;
  width: 180px;
  padding: 5px;
  border: solid 1px#113f67;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.createButton:hover {
  cursor: pointer;
  transition: background-color 1.5s;
  background-color: #eb130c;
  color: white;
  font-weight: bold;
  border: 2px solid #313131;
}

.bgSearchBar {
  display:flex;
  justify-content:space-around;
  flex-direction: row;
   height: 43px;
  width: 1340px;

}
.bgSearchBar img:hover {
 border-radius: 50%;
  transition: background-color 1.5s;
  background-color: #113f67;
 
  
}

.bgSearchBar input {
  margin-right: 10px;
  border-radius: 20px;
  height: 23px;
  width: 180px;
  padding: 5px;
  text-align: left;
  border: 1px solid #113f67;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 17px;
  color: black;
}

.bgSearchBar input:hover {
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: #eb130c;
  color: white;
  font-weight: bold;
  border: 1px solid #313131;
}

.bgSearchBar input:focus {
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid #313131;
}

.bgSearchBar div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  height: 35px;
  width: 35px;
  margin: 1px;
  padding: 1px;
  border: none;
  z-index: 1;

}

.bgSearchBar div:hover {
  cursor: pointer;
}


.bgSearchBar img {
  height: 60px;
  width: 60px;
  margin: 3px;
  padding: 12px;
}

