@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic";
@import "https://fonts.googleapis.com/css?family=Cabin:400";
@font-face {
  font-family: "PokemonHollowNormal";
  src: local("PokemonHollow"), url(../../../src/fonts/pokemonHollow.ttf);
}

.create_container {
  background-image: url("../../images/fondoCreatePokemon.png");
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -4;
}

.logo {
  animation: logo-entry 4s ease-in;
  margin-left: 5px;
}

.h1 {
  animation: text-glow 2s ease-out infinite alternate;
  font-family: "PokemonHollowNormal";
  src: local("PokemonHollow"), url(../../../src/fonts/pokemonHollow.ttf);
  font-size: 3.1rem;
  position: absolute;
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000,
    0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  margin-top: 15px;
}
.h1:before {
  animation: before-glow 2s ease-out infinite alternate;
  border-left: 535px solid transparent;
  border-bottom: 10px;
  content: " ";
  height: 0;
  position: absolute;
  right: -74px;
  top: -10px;
  width: 0;
}
.h1:after {
  animation: after-glow 2s ease-out infinite alternate;
  border-left: 100px solid transparent;
  border-top: 16px solid #113f67;
  content: " ";
  height: 0;
  position: absolute;
  right: -85px;
  top: 24px;
  transform: rotate(-47deg);
  width: 0;
}


.fadeBox {
  animation: input-entry 4s ease-in;
  float: center;
}

.createPokemon form {
  animation: form-entry 3s ease-in-out;
  background: rgb(14, 13, 13);
  background: linear-gradient(#e42503, #f3f1f1);
  border: 6px solid #fdf8f8;
  box-shadow: 0 0 15px #181717;
  border-radius: 50%;
  height: 600px;
  margin: 100px auto 0;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s all;
  margin-top: 70px;
}

.createPokemon form:hover {
  border: 6px solid #f50606;
  box-shadow: 0 0 25px #050505;
  transition: 1s all;
}
.createPokemon input {
  background: rgb(250, 248, 248);
  border-radius: 5px;
  box-shadow: 0 2px 0 #000;
  color: rgb(0, 0, 0);
  font-family: "Cabin", helvetica, arial, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  height: 25px;
  margin-top: 10px;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 220px;
  justify-content: left;
  margin: 0.5rem;
}

.createPokemon label {
  align-items: left;
  display: inline-flex;
  width: 120px;
  font-size: 20px;
  font-weight: bold;
}

.createPokemon input:focus {
  animation: box-glow 1s ease-out infinite alternate;
  background: #520b0b;
  background: linear-gradient(#333933, #222922);
  border-color: #00fffc;
  box-shadow: 0 0 5px rgba(0, 255, 253, 0.2),
    inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 black;
  color: #efe;
  outline: none;
}
.createPokemon input:invalid {
  border: 2px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.2), inset 0 0 5px rgba(255, 0, 0, 0.1),
    0 2px 0 black;
}
.button {
  animation: input-entry 0.2s ease-in;
  background: #222;
  background: linear-gradient(#333333, #222222);
  box-sizing: content-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 19px;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  font-family: "Cabin", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin-top: 40px;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 140px;
  transition: 1s all;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #091294;
  background: linear-gradient(#f0ebeb, #292929);
  color: #fa0808;
  outline: none;
  transition: 1s all;
}

.button:active {
  background: #ad1919;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}

.circle1 {
  background: rgb(14, 0, 0);
  border-radius: 50%;
  border: 10px solid #f50606;
  box-shadow: 0 0 0 2px rgb(14, 0, 0), 0 0 0 6px #f3f1f1;
  height: 700px;
  width: 700px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -350px;
  overflow: hidden;
  opacity: 0.9;
  z-index: -3;
}

.innerCirlce1 {
  background: rgb(17, 0, 0);
  border-radius: 50%;
  border: 38px solid #f3eeee;
  height: 660px;
  width: 660px;
  margin: 10px;
}

.errorInput {
  color: rgb(9, 39, 211);
  font-size: 19px;
  margin-top: -5px;
  margin-bottom: -5px;
  font-weight: bold;
}
.types {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}
.types button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px;
  height: 20px;
  width: 20px;
  padding: 0px 20px;
  text-align: center;
  border: 1px solid #0c0101;
  font-family: "DM Sans", sans-serif;
  background: rgba(243, 3, 3, 0.69);
  font-size: 16px;
  margin: 20px;
}
.labelTypes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
  margin-top: 30px;
}

@keyframes logo-entry {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes circle-entry {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}
@keyframes input-entry {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes form-entry {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
    padding: 0;
  }

  20% {
    height: 0;
    border: 1px solid #113f67;
    width: 0;
    opacity: 0;
    padding: 0;
  }

  40% {
    width: 0;
    height: 380px;
    border: 6px solid #113f67;
    opacity: 1;
    padding: 0;
  }

  100% {
    height: 380px;
    width: 500px;
  }
}
@keyframes text-glow {
  0% {
    color: #f8f8f8;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.623), 0 0 20px rgba(0, 0, 0, 0.356),
      0 0 30px rgba(0, 0, 0, 0.295), 0 0 40px rgba(0, 0, 0, 0.452),
      0 0 50px rgba(0, 0, 0, 0.507), 0 0 60px rgba(0, 0, 0, 0.521),
      0 0 70px rgba(0, 0, 0, 0.459);
  }

  100% {
    color: #ff0000;
    text-shadow: 0 0 20px rgba(0, 255, 253, 0.6),
      0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 black;
  }
}
@keyframes before-glow {
  0% {
    border-bottom: 10px solid #fa0303;
  }

  100% {
    border-bottom: 10px solid #000000;
  }
}
@keyframes after-glow {
  0% {
    border-top: 16px solid #000000;
  }

  100% {
    border-top: 16px solid #fa0303;
  }
}

.type {
  color: rgb(247, 243, 243);
  font-size: 18px;
  width: 80px;
  border-radius: 10px;
  margin-top: 18px;
  text-transform: capitalize;
}

.type[value="grass"] {
  background-color: #65da2f;
  color: #000;
}
.type[value="fire"] {
  background: #e26e1a;
}
.type[value="water"] {
  background-color: #2857ce;
}
.type[value="ground"] {
  background: conic-gradient(
    rgb(218, 208, 78) 0deg 90deg,
    rgb(168, 144, 7) 90deg 270deg,
    rgb(218, 208, 78) 270deg 360deg
  );
  color: #000;
}
.type[value="electric"] {
  background-color: rgb(218, 208, 78);
  color: #000;
}
.type[value="flying"] {
  background: conic-gradient(
    rgb(54, 177, 171) 0deg 90deg,
    rgb(179, 176, 176) 90deg 270deg,
    rgb(54, 177, 171) 270deg 360deg
  );
  color: #000;
}
.type[value="poison"] {
  background-color: #a555a4;
}
.type[value="normal"] {
  background-color: #777770;
  color: #000;
}
.type[value="psychic"] {
  background-color: #f7316b;
}
.type[value="dragon"] {
  background-color: #5819f3;
}
.type[value="ice"] {
  background-color: #73caca;
}
.type[value="rock"] {
  background-color: #a08b31;
}
.type[value="bug"] {
  background-color: #3b881d;
}
.type[value="ghost"] {
  background-color: #5c497f;
}
.type[value="fighting"] {
  background: #a62a22;
}
.type[value="fairy"] {
  background: #f392ca;
  color: #000;
}
.type[value="dark"] {
  background: #5c493a;
}
.type[value="steel"] {
  background: #9d9cbf;
}
.type[value="shadow"] {
  background: #562ba6;
}
.type[value="unknown"] {
  background: #000;
}

.maxTwoTypes {
  background-color: red;
  position: absolute;
  font-size: 0.8rem !important;
  bottom: 58px;
  right: 515px;
  border-radius: 8px;
  padding: 2px;
  color: white;
  width: 335px;
  height: 18px;
 
}
.typesSelect {
  border: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
  cursor: pointer;
  margin: 0 10px;
  padding: 0 6px 0 0;
  font-family: Sono-Bold;
  font-size: 22.5px;
  font-weight: 200;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 30px;
  text-transform: capitalize;
}


button:disabled {
  cursor: not not-allowed;
  background-color: rgb(175, 162, 162) !important;
  pointer-events: none;
  box-sizing: content-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 19px;
  box-shadow: 0 2px 0 #000;
   color: #fff;
  font-family: "Cabin", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin-top: 40px;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 140px;
  transition: 1s all;
  
}